body, html {
  height: 100%;
  margin: 0;
}
.bgimg {
  background-image: url("../imgs/jumping-spider.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color:chartreuse;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr {
  margin: auto;
  width: 40%;
}
#home {
  background-color:brown;
  color:chartreuse;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
