body {
    text-align:center;
    background-image: url(https://piviso.com/uploads/photo/2018-05-md/flesh-fly-5b003705cc460.jpg);
    font-family: monospace;
}
#next-page {
    text-align: right;
}
#fly {
    text-align:right;
    float:right;
    border:10px inset green;
}
a:hover {
    background-color:lightsteelblue;
}
#source {
    text-align: center;
}
#prev {
    text-align: left;
}
#home {
    background-color:sandybrown;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
hr {
    width:40%;
}